
{% load static %}


{% block content %}

{% if request.user.is_authenticated %}
  <head>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
  </head>

  <body>
    <div style="max-width: 30%; margin:auto; margin-top: 5vh;">
      <img
        src="{{STATIC_URL}}/static/images/cc_logo.png"
        style="width: 100%"/>
    </div>
    <div class="container">
      <h2>Logout</h2>
      <form method="POST">
        {% csrf_token %}
          <div class="form-item">
              <button type="submit"><a class="nav-link" href="{% url 'lgout' %}">Yes, Logout</button>
          </div>
      </form>
    </div>
</body>
{% endif %}
{% endblock %}
