{% extends 'index.html' %}
{% load static %}

{% block title %}
About Me
{% endblock %}

{% block content %}


<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9XVX4349YF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9XVX4349YF');
  </script>

</head>

<body>
  <div class="port1">
    <div class="ptext">
      <span class="border"> Tom Stout Photography </span>
    </div>
  </div>

  <section class="section section-light">
    <div>
      <h2>About Me!</h2>
      <p class="text-justify">
        Hello, my name is Tom Stout, and I am an experienced photographer with a
        passion for capturing meaningful moments. With over 30 years of
        professional experience, I have honed my skills and developed a keen eye
        for detail. Throughout my career, I have specialized in various areas of
        photography, including portraits, weddings, and drone photography and
        videography. Each genre presents unique challenges and opportunities for
        creativity, and I thrive on capturing the essence of my subjects and their
        stories.
      </p>
      <p class="text-justify">
        In portrait photography, I strive to create images that reflect the true
        personality and emotions of the individuals I photograph. Whether it's a
        heartfelt smile, a contemplative gaze, or a moment of pure joy, I believe
        that the best portraits are those that evoke genuine emotions and create
        lasting memories. Weddings are another area of photography that I hold
        dear to my heart. I consider it an honor to be part of such a special day
        and strive to capture the love, excitement, and beauty of each couple's
        journey. From intimate moments shared between the bride and groom to the
        grandeur of the ceremony and celebration, I aim to document the day in a
        way that tells a unique and captivating story.
      </p>
      <p class="text-justify">
        Additionally, I have embraced the advancements in technology and have
        incorporated drone photography and videography into my repertoire. This
        allows me to capture stunning aerial views, providing a fresh and unique
        perspective on events, landscapes, and architectural marvels.
      </p>
      <p class="text-justify">
        Over the years, I have had the privilege of working with a diverse range
        of clients, from individuals and families to businesses and organizations.
        Each project is an opportunity for me to collaborate and create something
        truly special. I approach every assignment with enthusiasm,
        professionalism, and a commitment to delivering exceptional results. I
        believe that photography has the power to transcend time and connect
        people across generations. It is this belief that drives me to continue
        capturing moments, freezing them in time, and creating visual legacies for
        my clients.
      </p>
      <p class="text-justify">
        Thank you for taking the time to learn more about me and my work. I look
        forward to the possibility of collaborating with you and capturing the
        moments that matter most to you.
      </p>
      <div class="text-center"><a class = "btn btn-primary text-center" href="{% url 'resume' %}"></a>View My Resume!</div>
    </div>
  </section>

  

</body>
{% endblock %}