{% extends 'index.html' %}
{% load static %}

{% block title %} 
  Clients 
{% endblock %}

{% block content %}

<head>
 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9XVX4349YF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9XVX4349YF');
</script>

<link
href="{% static 'styles/drone.css' %}"
rel="stylesheet"
type="text/css"/>

</head>


<body>
  <div class="clients1">
    <div class="ptext">
      <span class="border"> Tom Stout Photography </span>
    </div>
  </div>
  <section class="section section-light">
    <div class="w-75 mx-auto fw-light text-center">
      <h2>Client Galleries</h2>
      <p class="text-center">  </p>
    </div>
    <div class="drone-grid mt-5 mb-5 ">
      <ul class="drone-gallery">
        <li>
          <a href="https://share.webproofing.com/gallery-client/index.html?collection_uid=nWpLZomgE7E%3D&share_uid=&storeId=2366" target="blank">
          <img src="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-D62N9xf/0/3c93a406/XL/23-004-160-Edit-XL.jpg" alt="Client Photos" /></a>
        </li>
        <li>
          <a href="https://share.webproofing.com/gallery-client/index.html?collection_uid=Fgg80atzYOg%3D&share_uid=&storeId=2366" target="blank">
          <img src="https://photos.smugmug.com/Clients/Senior-Portraits/Nathan/i-rBwQKGj/0/e591bca9/X3/22-0014-255-X3.jpg" alt="Client Photos" /></a>
        </li>
        <li>
          <a href="https://share.webproofing.com/gallery-client/index.html?collection_uid=iIzZbczZWxw%3D&share_uid=&storeId=2366" target="blank">
          <img src="https://photos.smugmug.com/Clients/Senior-Portraits/Ava/i-M9w9C9L/0/ae4b7cdf/XL/Wall%20Art-4-XL.jpg" alt="Client Photos" /></a>
        </li>
        <li>
          <a href="https://share.webproofing.com/gallery-client/index.html?collection_uid=ABxYxy29VFU%3D&share_uid=&storeId=2366" target="blank">
          <img src="https://photos.smugmug.com/Clients/Senior-Portraits/Paige/i-PfPqJwW/0/39085d3a/XL/Wall%20Art-8-XL.jpg" alt="Client Photos" /></a>
        </li>
        <li>
          <a href="https://share.webproofing.com/gallery-client/index.html?collection_uid=ztB3rQcVOjk%3D&share_uid=&storeId=2366" target="blank">
          <img src="https://photos.smugmug.com/Clients/Senior-Portraits/Ethan/i-79m2956/0/3c78d8c5/X3/23-002-43-52-54-X3.jpg" alt="Client Photos" /></a>
        </li>
        <li>
          <a href="https://share.webproofing.com/gallery-client/index.html?collection_uid=HTjAsWdOtoc%3D&share_uid=&storeId=2366" target="blank">
          <img src="https://photos.smugmug.com/Clients/Senior-Portraits/Branson/i-FbFBgnt/0/d44a3682/L/17-100_0116-Edit-L.jpg" alt="Client Photos" /></a>
        </li>
        <li>
          <a href="https://share.webproofing.com/gallery-client/index.html?collection_uid=TUIR1ii6IUg%3D&share_uid=&storeId=2366" target="blank">
          <img src="https://photos.smugmug.com/Clients/Senior-Portraits/Matt/i-xLvKX2K/0/a82deb8c/L/18-0107-100-Edit-L.jpg" alt="Client Photos" /></a>
        </li>
      </ul>
    </div>
    <br>
    </section>
    <hr class="style14 mb-5" />
    <br>
    <br> 
</body>

{% endblock %}