{% extends 'index.html' %} 
{% load static %} 

{% block title %} 
  Contact Me 
{% endblock %}
{% block content %}


<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3G7C36L1DD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-3G7C36L1DD');
  </script>
  
  </head>

<head>

  <link
    href="{% static 'styles/contact.css' %}"
    rel="stylesheet"
    type="text/css"/>
</head>

<body>
  
</body>
{% endblock %}
