{% extends 'index.html' %}
{% load static %} 

{% block title %} 
  Tom Stout 
{% endblock %} 

{% block content %}

<body>
  <div class="pimg1 mt-5">
    <div class="ptext">
      <span class="border"> Tom Stout Photography </span>
    </div>
  </div>
  <section class="section section-light">
    <div>
      <h2>Portrait Photography</h2>
      <p class="text-justify">
        Welcome to my photography website, where moments come alive through the
        lens! Whether you're seeking stunning portraits for personal keepsakes, memorable 
        wedding portraits, or captivating imagery for your brand or business.
        I strive to capture the unique stories, emotions, and connections that make 
        each individual shine.
      </p>
      <p class="text-justify">
        I understand that a portrait is not merely a photograph; it's an art form 
        that encapsulates a person's identity and individuality. I believe that the 
        power of a portrait lies in its ability to transcend time, evoking nostalgia, 
        joy, and a sense of self-awareness. With this vision in mind, I work tirelessly 
        to create exquisite portraits that leave a lasting impression.</p>
      </p>
    </div>
    <div class="text-center w-25">
      <a href="https://forms.office.com/r/qwrdiZZi18" class="button-79"></a>
    </div>
    <div>
      <div>
        {% include 'components/drone_btn.html' %}
      </div>
    </div>
  </section>
  <div class="pimg2">
    <div class="ptext">
      <span class="border trans"> Creative Portraiture </span>
    </div>
  </div>
  <section class="section section-dark">
    <div class="text-center">
      <h2>Senior Portraits</h2>
      <p class="text-justify">
        Senior Portraits celebrate the uniqueness and achievements of high school seniors 
        as they embark on an exciting new chapter in their lives. My goal is to create stunning 
        and timeless portraits that capture the style, personality, and accomplishments of every 
        senior, providing them and their families with cherished memories to last a lifetime.
      </p>
      <p class="text-justify">
        During your photoshoot, I will create a relaxed and enjoyable atmosphere, making 
        the senior feel comfortable and confident in front of the camera. I encourage them to 
        express themselves, to laugh, to be spontaneous, and to embrace their individuality. By 
        fostering a positive and supportive environment, we will be able to capture genuine smiles, 
        laughter, and emotions that radiate through their portraits.
      </p>
    </div>
  </section>
  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">Airborne Images </span>
    </div>
  </div>
  <section class="section section-light" >
    <div>
      <h2 class="mb-4">Drone Photography</h2>
      <p class="text-justify">
        As a Federal Aviation Administration (FAA) licensed and insured drone pilot, I am dedicated to capturing awe-inspiring images and creating breathtaking videos from above. Specializing in aerial photography, my passion lies in harnessing the power of drone technology to provide you with unique perspectives that transcend traditional photography.
      </p>
      <p class="text-justify">
        My commitment to professionalism extends to every aspect of my work. I prioritize safety above all else and strictly adhere to FAA regulations and guidelines. Additionally, I carry comprehensive liability insurance to provide you with peace of mind, knowing that your project is in capable hands.
      </p>
      <p class="text-justify">
        Take a moment to explore my portfolio and witness the magic of aerial photography. I invite you to embark on this thrilling visual journey with me, where imagination truly takes flight. Contact me today to discuss your project and let's create something extraordinary together.
      </p>
      <a href="{% url 'drones' %}">
        <button class="button-79" role="button">Drone Photos & Videos</button>
      </a>
    </div>
  </section>  
  </div>
  <div class="pimg4">
    <div class="ptext">
      <span class="border">Tom Stout Photography </span>
    </div>
  </div>
  <br><br>  
  <br><br>
  <div class="container mt-5">
    {% include 'components/drone_carousel.html' %}
  </div>
  <br><br>
  <hr class="style14 mb-5" />
  <br><br>
  <div class="container">
    <h1 class="mb-5">Recent Portraits</h1>
    {% include 'components/gallery.html' %}
  </div>
  <br><br>
  <hr class="style14" />
  <br><br>
</body>
{% endblock %}
  

