{% extends 'index.html' %} 
{% load static %} 

{% block title %} 
  Information 
{% endblock %} 

{% block content %}
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9XVX4349YF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9XVX4349YF');
</script>
</head>


<div class="container">
  <section>
    <img
      class="img-fluid"
      src="https://photos.smugmug.com/Galleries/Portraits/i-d8s24f9/0/fd66d5d5/L/18-0114-50-Edit-Edit-Edit-Edit-Edit-L.jpg"
      alt="Portraits"
    />
    <h1>Portrait Photography</h1>
    <p>
      Welcome to my portrait photography, where creative photography meets an
      unforgettable personal experience. As an experienced photographer, I am
      thrilled to capture your unique essence, creating timeless memories that
      will be cherished for generations to come.
    </p>

    <p>
      Within the setting of my studio or amidst the beauty of the outdoors, we
      blend artistry and authenticity to create portraits that truly reflect
      your individuality. Every session is tailored to your desires and
      personality, ensuring that your photographs embody your distinct style and
      spirit.
    </p>
    <p>
      During our session, you will feel at ease as we create a relaxed and
      comfortable atmosphere. I strive to capture genuine moments of joy, love,
      and laughter, allowing your true essence to shine through each frame. My
      keen eye for detail and composition ensures that every angle, every
      expression, and every nuance is expertly captured, resulting in stunning
      and emotive photographs that resonate with your heart.
    </p>
    <p>
      To enhance the entire experience, your portrait session includes a $100
      print credit, enabling you to preserve and display your cherished memories
      in a tangible and beautiful manner. Together, we will navigate the range
      of luxurious print options, from exquisite canvases to archival prints,
      ensuring that your photographs become treasured heirlooms that can be
      passed down through generations.
    </p>
  </section>
</div>

{% endblock %}
