{% extends 'index.html' %}
{% load static %}

{% block title %}
Tom Stout
{% endblock %}

{% block content %}

<body>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/resume.css' %}">
  <section class="header">
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h2 class="header-title mt-5">Tom Stout</h2>
          <h5 class="header-text">Web Developer / Creative Specialist</h4>
            <br>
            <p class="header-text">Experienced web and software developer with a flair for turning clients' concepts
              into dynamic and user-friendly digital solutions. Demonstrated expertise in collaborating with clients to
              understand
              their unique vision and translating it into functional and aesthetically pleasing websites and software
              applications. Proven ability to navigate the intersection of creativity and technical acumen to bring
              ideas to life effectively.</p>
        </div>
        <div class="col-sm-2 col-md-3 text-center">
          <img class="header-img"
            src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-szC5s8C/0/a9a7cdc0/L/IMG_1657-L.jpg"
            alt="portrait">
        </div>
        <div class="col-sm-12 col-md-3 text-end header-text" style="margin-top: 5rem;">
          <p>tom@tomstout.com&nbsp;&nbsp;<i class="fa-regular fa-envelope font-white"></i></p>
          <p>317.987.7387&nbsp;&nbsp;<i class="fa-solid fa-phone"></i></p>
          <p>Fishers, IN&nbsp;&nbsp;<i class="fa-solid fa-location-dot"></i></p>
          <p><a href="https://www.tom-stout.com" target="_blank"
              style="color: aliceblue; text-decoration: none;">www.TOM-STOUT.com &nbsp;&nbsp;<i
                class="fa-solid fa-globe"></i></a></p>
        </div>
      </div>
    </div>
  </section>

  <div class="container">



    <div class="row">
      <div class="col-sm-12 col-md-6 px-3">
        <h3 class="text-center my-5">Work Experience</h3>
        <p class="job">Indianapolis Metropolitan Police Department <br>
          <span style="font-size: 1rem;"> 1998 - Present</span> <span class="text-muted fs-6">&nbsp;Retiring:
            2/06/2024</span>
        </p>
        <p class="job-title">Sergeant</p>
        <p class="job-description">
          I have held pivotal roles such as Shift Supervisor, overseeing daily operations and ensuring the highest
          standards of public safety when managing critical incidents as well as daily
          operations. Additionally, I have served as a Unit Supervisor, Field Training Officer, Crime Scene
          Investigator,
          and Narcotics Detective. Complementing my law enforcement roles, I successfully managed various technical
          projects, demonstrating a seamless integration of software and hardware with operations.
        </p>
        <hr class="w-50 mx-auto text-primary">
        <p class="job text-danger fw-bolder">National Hot Rod Association <br>
          <span style="font-size: 1rem;"> 2022 - Present</span>
        </p>
        <p class="job-title">Commmercial Drone Pilot</p>
        <p class="job-description">
          Conduct drone operations in compliance with FAA regulations and NHRA compliance to capture dynamic shots of
          drag racing events, contributing to the production of high-quality, engaging content for both live and taped programs.
          Collaborate closely with NHRA Broadcasting to meet specific video production requirements, ensuring seamless
          integration of aerial perspectives into the overall broadcast strategy.
        </p>
        <br>
        <hr class="w-50 mx-auto text-primary">
        <p class="job">Tom Stout Photography <br>
          <span style="font-size: 1rem;"> 2021 - Present</span>
        </p>
        <p class="job-title">Professional Photographer & Web Designer</p>
        <p class="job-description">Professional photographer with over three decades of expertise as a portrait and
          wedding photographer,
          specializing in full-service portrait photography with in-house custom print-making. Twenty years of
          experience
          utilizing Adobe products to
          design content for diverse mediums including print, social media, advertisements, and video. Additionally,
          brings
          experience as a web and software developer, adept at collaborating with photography clients to transform their
          ideas into compelling
          online visual narratives.
        </p>
        <br>
        <hr class="w-50 mx-auto text-primary">
        <p class="job">Fatheadz Eyewear <br>
          <span style="font-size: 1rem;">2022 - 2023 <span class="text-muted fs-6">&nbsp;Part-time position</span>
          </span>
        </p>
        <p class="job-title">Photographer & IT Services</p>
        <p class="job-description">Multi-faceted professional contributing as a Photographer and Website
          Manager. Successfully managed all aspects of company websites, utilizing both WordPress and Shopify, to
          enhance online visibility and user experience. Played a pivotal role in curating and updating content,
          ensuring alignment with brand objectives.
        </p>
        <br>
        <hr class="w-50 mx-auto text-primary">
        <p class="job">Charles Schwab & Co, Inc.<br>
          <span style="font-size: 1rem;">1987 - 1996</span>
        </p>
        <p class="job-title">Manager - Mutual Fund Trading</p>
        <p class="job-description">Began as a Broker Trainee for Charles Schwab and progressed to Manager of Mutual Fund
          Trading over the course
          of 9 years.
        </p>
        <br>
        <hr class="w-50 mx-auto text-primary">
        <p class="job">United States Army<br>
          <span style="font-size: 1rem;">1983 - 1987</span>
        </p>
        <p class="job-title">Sergeant</p>
        <p class="job-description">
          Airborne infantry Sergeant assigned to the Army's 82nd Airborne Division
        </p>
      </div>
      <div class="col-sm-12 col-md-6 px-3">
        <h3 class="text-center mt-5">Technical Experience </h3>
        <br>
        <p class="job text-center">Coding Bootcamps</p>
        <br>
        <p class="job-company fw-normal">2021: NuCamp Coding Bootcamps
          <br>
          Python - SQL - DevOps - Backend Development
          <br>
        <p class="job-description">
          Comprehensive training in data structures and algorithms, enabling the creation of applications
          using Python and SQL. Hands-on experience with DevOps tools, facilitating efficient integration, testing, and
          deployment processes. Demonstrated ability to deploy applications on leading cloud services such as Amazon
          AWS, Microsoft Azure, and Google Cloud. My project, Flight Plan was selected for review and I graduated this
          course with Honors.
        </p>
        <hr class="w-50 mx-auto text-primary">
        <p class="job-company fw-normal">2020: NuCamp Coding Bootcamps
          <br>
          Full Stack and Mobile Development
          <br>
        <p class="job-description">JavaScript - React - React Mobile - NodeJS - ExpresJS <br>
          Advanced proficiency in React and JavaScript, along with specialized training in React Mobile, backend
          development using Node.js, and Express.js. Completed a comprehensive bootcamp that equipped me to build not
          only visually appealing and responsive websites but also mobile applications. Demonstrated the ability to
          write server-side code, contributing to the full-stack development of websites and projects.
        </p>
        <hr class="w-50 mx-auto text-primary">
        <p class="job-company fw-normal">2019: Eleven Fifty Academy
          <br>
          Web Development
        </p>
        <p class="job-description">Comprehensive training in HTML, CSS, JavaScript, and React during an intensive
          bootcamp. Applied
          acquired knowledge to design and build websites.
        </p>
        <hr class="w-50 mx-auto text-primary">
        <h3 class="text-center mt-5">Technical Projects </h3>
        <br>
        <p class="text-center job"> <a href="https://www.tom-stout.com"><i class="fa-solid fa-globe"></i> Tom Stout
            Photography</p></a>
        <p class="job-description text-center">I wrote the code for this website using the following technologies:
        </p>
        <div>
          <p class=" job-dates text-center"><span> &#x2022</span> PYTHON<span> &#x2022</span> DJANGO <span>
              &#x2022</span>
            SQL
            <span> &#x2022</span> HTML<span> &#x2022</span> CSS <span> &#x2022</span>
            BOOTSTRAP <span> &#x2022</span>
          </p>
        </div>
        <hr class="w-50 mx-auto text-primary">
        <div class="w-75 mx-auto text-center">
          <h3 class="text-center mt-5 mb-5">GitHub Projects</h3>
          <p>GitHub: <a href="https://github.com/Tom-Stout325">@Tom-Stout325 </p></a>
          <p> <span>&#x2022</span> <a href="https://github.com/Tom-Stout325/codingcops" target="_blank">Coding
              Cops</a>&nbsp; <span> &#x2022 </span>&nbsp;
            <a href="https://github.com/Tom-Stout325/flightplan" target="_blank">FlightPlan</a>&nbsp;
            <span>&#x2022</span>&nbsp;
            <a href="https://github.com/Tom-Stout325/flightplan" target="_blank">TSP</a>&nbsp;<span>&#x2022</span>
          </p>
        </div>
        <br>
        <hr class="w-50 mx-auto text-primary">
        <div>
          <h3 class="text-center mt-5">Software Experience </h3>
          <br>
          <h4 class="job text-center">Adobe Creative Suite</h4>
          <p class="text-center job-company"><span>&#x2022</span>&nbsp;Photoshop
            &nbsp;<span>&#x2022</span>&nbsp;LightRoom&nbsp;<span>&#x2022</span>&nbsp;InDesign&nbsp;<span>&#x2022</span>&nbsp;
            Dreamweaver&nbsp;<span>&#x2022</span>&nbsp;Illustrator&nbsp;<span>&#x2022</span>
          </p>
          <br>
          <h4 class="job text-center">Microsoft Office</h4>
          <p class="text-center job-company"><span>&#x2022</span>&nbsp;Advanced Excel
            &nbsp;<span>&#x2022</span>&nbsp;Word&nbsp;<span>&#x2022</span>&nbsp;PowerPoint&nbsp;<span>&#x2022</span>
            SharePoint&nbsp;<span>&#x2022</span> Custom HTML Outlook <span>&#x2022</span>
          </p>
        </div>
      </div>
    </div>
    <hr class="text-primary">

  </div>
  <div>
    <br><br>
    <div class="mt-5 mb-5">
      <h1 class="text-center text-primary "> Image Gallery</h2>
        <br>
        <h5 class="text-center text-primary"><span>&#x2022</span>&nbsp; Prints&nbsp;<span> &#x2022</span>&nbsp; Logos
          &nbsp;<span>&#x2022</span>&nbsp; Graphic Design <span>&#x2022</span></h5>
    </div>
  </div>
  <br><br>
  <div>
    {% include 'components/resumeGallery.html' %}
  </div>
  </div>
</body>

{% endblock %}