{% load static %} 
{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Custom Meta Tags for TSP-->
        <meta
          name="description"
          content="Capturing timeless moments through expert portraiture, senior portraits, weddings, and stunning aerial photography and video. Trust Tom Stout's artistic vision to create unforgettable memories."/>
        <!-- Keywords Meta Tag -->
        <meta
          name="keywords"
          content="Portraits, Portrait Photography, Senior Portrait Photography, Wedding Photography, Drone Photography, Drone Video, Professional Photographer, Artistic portraits, Creative Photography, Unique Photography, Stunning Visuals, Tom Stout"/>
        <!-- Author Meta Tag -->
        <meta name="author" content="Tom Stout" />
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Tom Stout Photography" />
        <meta
          property="og:description"
          content="Capturing timeless moments through expert portraiture, senior portraits, weddings, and stunning aerial photography and video. Trust Tom Stout's artistic vision to create unforgettable memories."/>
        <meta
          property="og:image"
          content="https://www.tom-stout.com/Site-Images/n-Rwb54Z/i-P3htNjX/A"/>
        <meta property="og:url" content="https://www.tom-stout.com" />
        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Tom Stout Photography" />
        <meta
          name="twitter:description"
          content="Capturing timeless moments through expert portraiture, senior portraits, weddings, and stunning aerial photography and video. Trust Tom Stout's artistic vision to create unforgettable memories."/>
        <meta
          name="twitter:image"
          content="https://www.tom-stout.com/Site-Images/n-Rwb54Z/i-P3htNjX/A"/>
        <!-- Custom Meta Tags for 12bytes-->
        <!-- Description Meta Tag -->
        <meta
          name="description"
          content="Welcome to 12bytes, your ultimate resource for all things technology. Explore our articles, tutorials, and discussions on topics such as programming, web development, cybersecurity, and more."/>
        <!-- Keywords Meta Tag -->
        <meta
          name="keywords"
          content="technology, programming, web development, cybersecurity, articles, tutorials, discussions"/>
        <!-- Author Meta Tag -->
        <meta name="author" content="Tom Stout" />
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="12bytes" />
        <meta
          property="og:description"
          content="Welcome to 12bytes, your ultimate resource for all things technology. Explore our articles, tutorials, and discussions on topics such as programming, web development, cybersecurity, and more."/>
        <meta
          property="og:image"
          content="https://www.tom-stout.com/Site-Images/n-Rwb54Z/i-PWbfGrr/A"/>
        <meta property="og:url" content="https://www.12bytes.com"/>
        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="12bytes" />
        <meta
          name="twitter:description"
          content="Welcome to 12bytes, your ultimate resource for all things technology. Explore our articles, tutorials, and discussions on topics such as programming, web development, cybersecurity, and more."/>
        <meta
          name="twitter:image"
          content="https://www.tom-stout.com/Site-Images/n-Rwb54Z/i-PWbfGrr/A"/>
<!-- Custom Meta Tags for Airborne Images-->
        <!-- Description Meta Tag -->
        <meta
          name="description"
          content="Discover breathtaking aerial photography and videos by Airborne Images. We specialize in capturing stunning perspectives with our professional drone photography services. Get ready to elevate your visuals to new heights."/>
        <!-- Keywords Meta Tag -->
        <meta
          name="keywords"
          content="airborne images, drone photography, aerial videos, professional drone services, stunning visuals, aerial perspectives, captivating images, aerial cinematography, aerial videography, event videos, real estate video, drone video"/>
        <!-- Author Meta Tag -->
        <meta name="author" content="Airborne Images"/>
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Airborne Images"/>
        <meta
          property="og:description"
          content="Discover breathtaking aerial photography and videos by Airborne Images. We specialize in capturing stunning perspectives with our professional drone photography services. Get ready to elevate your visuals to new heights."/>
        <meta
          property="og:image"
          content="https://photos.smugmug.com/photos/i-MXJpVJd/0/247972dd/X2/i-MXJpVJd-X2.jpg"/>
        <meta property="og:url" content="https://www.tom-stout.com"/>
        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="Airborne Images"/>
        <meta
          name="twitter:description"
          content="Discover breathtaking aerial photography and videos by Airborne Images. We specialize in capturing stunning perspectives with our professional drone photography services. Get ready to elevate your visuals to new heights."/>
        <meta
          name="twitter:image"
          content="https://photos.smugmug.com/photos/i-MXJpVJd/0/247972dd/X2/i-MXJpVJd-X2.jpg"/>
      <!-- End of Custom Meta Tags -->
    <link
      href="{% static 'styles/app.css' %}"
      rel="stylesheet"
      type="text/css"/>  

    <link
      href="{% static 'styles/gallery.css' %}"
      rel="stylesheet"
      type="text/css"/>
      
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"/>

    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"/>

    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"/>

    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/html"/>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"/>

    <link 
      href="{% static 'images/favicon.ico' %}"
      rel="icon" 
      type="image/x-icon"> 
    
    <title>
      {% block title %}  
      {% endblock %}
    </title>

      {% for message in messages %}
        {{ Messages }}
      {% endfor %}
    </head>
      {% include 'navbar.html' %} 
      {% include 'components/to_the_top.html' %} 
  <body>
    <div class="container">
      {% if messates %}
      {% endif %}
    </div>
      {% block content %}    
      {% endblock %} 
    
      {% include 'components/footer.html' %}
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous">
    </script>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  </body>
</html>
