{% load static %}
{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %}

<div>
    <h1 class="text-center">
        Arerial Photo & Videography
    </h1>
</div>
<div class="video-container mb-5 mt-5">
    <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/drone_carousel_balinas.jpg' %}"  class="d-block w-100 rounded-3 shadow-lg" alt="Areial Photography">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/drone_carousel_StLouis.png' %}" class="d-block w-100 rounded-3 shadow-lg" alt="Aerial Photography">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/drone_carousel_Bristol.jpg' %}" class="d-block w-100 rounded-3 shadow-lg" alt="Drone Photography">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/drone_carousel_denver.png' %}" class="d-block w-100 rounded-3 shadow-lg" alt="Aerial Photography">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/drone_carousel_lighthouse3.jpg' %}"  class="d-block w-100 rounded-3 shadow-lg" alt="Areial Photography">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/drone_carousel_waterfall.jpg' %}" class="d-block w-100 rounded-3 shadow-lg" alt="Drone Photography">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/drone_carousel_waves.jpg' %}" class="d-block w-100 rounded-3 shadow-lg" alt="Aerial Photography">
            </div>
        </div>       
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>    
</div>