{% load static %} 

{% block content %}
<head>
  <link
    href="{% static 'styles/contact.css' %}"
    rel="stylesheet"
    type="text/css"/>
  </head>
<body>
  <br />
  <hr class="style14" />
  <br /> 
  <div class="container text-center">
    <br />
    <br>
    {% for msg in messages %}
      {{ msg }}
    {% endfor %}
    <h1 class="fs-4 text-center">
      Let's talk about your photography, send me a message!
    </h1>
    <br />
  </div>
  <div>
    <script type="text/javascript" src="https://form.jotform.com/jsform/232215374851050"></script>
  </div>
</body>
{% endblock %}
