{% extends 'index.html' %}
{% load static %}

{% block title %} 
  Weddings 
{% endblock %}

{% block content %}

<link
  href="{% static 'styles/lightbox.css' %}"
  rel="stylesheet"
  type="text/css"/>

<body>
  <div class="wedding1">
    <div class="ptext">
      <span class="border"> Tom Stout Photography </span>
    </div>
  </div>
  <section class="section section-dark">
    <div class="w-75 mx-auto fw-light text-center">
      <h1 class="text-white-50 fw-light">Wedding Photography</h1>
      <p class="text-center">  </p>
  </section>
  <div class="gallery-container">
    <div class="row"> 
      <div class="column">
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-pqzPg75/0/eb05b607/X2/Aguilar_01707-Edit-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-pqzPg75/0/eb05b607/X2/Aguilar_01707-Edit-X2.jpg">      
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-6zrw7Bn/0/8ad2b6f3/X3/IMG_0268-X3.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-6zrw7Bn/0/8ad2b6f3/X3/IMG_0268-X3.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-WLqTpvn/0/35e19d4f/X2/20-0007_-92-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-WLqTpvn/0/35e19d4f/X2/20-0007_-92-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-r9tMh35/0/0318a1f7/X2/20-0007_-358-Edit-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-r9tMh35/0/0318a1f7/X2/20-0007_-358-Edit-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-Jx6FPKB/0/fd1b2e34/X2/20-0007_-270-Edit-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-Jx6FPKB/0/fd1b2e34/X2/20-0007_-270-Edit-X2.jpg"></a>      
        <a href="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-wFMCr9v/0/7b47f78b/X3/23-004-127-X3.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-wFMCr9v/0/7b47f78b/X3/23-004-127-X3.jpg"></a>         
      </div>                
      <div class="column">
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-7HmQ4PK/0/54f3492d/X2/IMG_0713-Edit-Edit-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-7HmQ4PK/0/54f3492d/X2/IMG_0713-Edit-Edit-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-g635Lvz/0/a9d6b3f7/X3/IMG_5444-1-X3.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-g635Lvz/0/a9d6b3f7/X3/IMG_5444-1-X3.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-kzk5Wdr/0/9edb7b95/X2/IMG_0287_16x20_e-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-kzk5Wdr/0/9edb7b95/X2/IMG_0287_16x20_e-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-T459Jz7/0/0428fb33/X3/IMG_0428-X3.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-T459Jz7/0/0428fb33/X3/IMG_0428-X3.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-hmP3wQP/0/b8e821fd/X2/IMG_5482-2-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-hmP3wQP/0/b8e821fd/X2/IMG_5482-2-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-KWmJ3QX/0/a6b68d3d/X2/IMG_6524-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-KWmJ3QX/0/a6b68d3d/X2/IMG_6524-X2.jpg"></a>
      </div>   
      <div class="column">
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-L2CgW6L/0/1d8c43de/X3/20-0007_-353-E-soft-X3.jpg" data-lightbox="weddings" target="blank" data-title="Weddings"></a>
          <img src= "https://photos.smugmug.com/Galleries/WeddingsGallery/i-L2CgW6L/0/1d8c43de/X3/20-0007_-353-E-soft-X3.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-SDkT3vw/0/81837aa1/X2/IMG_8953-Edit_2-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings"></a>
          <img src="https://photos.smugmug.com/Galleries/WeddingsGallery/i-SDkT3vw/0/81837aa1/X2/IMG_8953-Edit_2-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-zcfqh4v/0/bb8e7834/X2/IMG_9009_2-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Galleries/WeddingsGallery/i-zcfqh4v/0/bb8e7834/X2/IMG_9009_2-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-wgTP4Sn/0/e3a826f2/X3/23-004-98-Edit-X3.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-wgTP4Sn/0/e3a826f2/X3/23-004-98-Edit-X3.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-Dp4XVnZ/0/66fc19ed/X2/IMG_9130-Edit-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Galleries/WeddingsGallery/i-Dp4XVnZ/0/66fc19ed/X2/IMG_9130-Edit-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-7DCzHwS/0/4ad8613b/X2/IMG_9359-Edit-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Galleries/WeddingsGallery/i-7DCzHwS/0/4ad8613b/X2/IMG_9359-Edit-X2.jpg"></a>
      </div>       
      <div class="column">
        <a href="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-2phHDm5/0/60ac77d8/X3/23-004-107-Edit-X3.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-2phHDm5/0/60ac77d8/X3/23-004-107-Edit-X3.jpg"></a>
        <a href="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-qFrHhQM/0/1f309e39/X2/23-004-143-Edit2-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-qFrHhQM/0/1f309e39/X2/23-004-143-Edit2-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-D62N9xf/0/3c93a406/X2/23-004-160-Edit-X2.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-D62N9xf/0/3c93a406/X2/23-004-160-Edit-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-kL9LzCk/0/e0892fca/X2/23-004-166-Edit-X2.jpg"d ata-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Clients/Weddings/Jeremy-Kiara/i-kL9LzCk/0/e0892fca/X2/23-004-166-Edit-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-tvHx76V/0/8b0a664b/X3/IMG_9351-X3.jpg" data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Galleries/WeddingsGallery/i-tvHx76V/0/8b0a664b/X3/IMG_9351-X3.jpg"></a>
        <a href="https://photos.smugmug.com/Archive/Michelle-Beard/i-dgvTNsN/0/cae2863a/X2/IMG_9168-Edit2-X2.jpg"data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Archive/Michelle-Beard/i-dgvTNsN/0/cae2863a/X2/IMG_9168-Edit2-X2.jpg"></a>
        <a href="https://photos.smugmug.com/Galleries/WeddingsGallery/i-7ZCtJXr/0/3214c8d4/X2/IMG_6629-X2.jpg"data-lightbox="weddings" target="blank" data-title="Weddings">
          <img src="https://photos.smugmug.com/Galleries/WeddingsGallery/i-7ZCtJXr/0/3214c8d4/X2/IMG_6629-X2.jpg"></a>
      </div>
    </div>
  </div>
    <br>
  <hr class="style14 mb-5" />
    <br>
  <script src="{% static 'js/object-fit-videos.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>
{% endblock%}