{% load static %}

<head>
  <link href="{% static 'styles/lightbox.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <div class="gallery">

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-q7wN82s/0/1b75f4b4/L/Logo%20Airborn%20Images-L.png"
        data-lightbox="Portfolio" data-title="Logo Design">
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-q7wN82s/0/1b75f4b4/L/Logo%20Airborn%20Images-L.png"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-gfjfDwm/0/1f603764/XL/Capps%202-Edit-Edit-XL.jpg"
        data-lightbox="Portfolio" data-title="PhotoShop Image">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-gfjfDwm/0/1f603764/X2/Capps%202-Edit-Edit-X2.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-f57Js6Z/0/5c8846f7/XL/Drone%20Pilot%20Shirt-XL.png"
        data-lightbox="Portfolio" data-title="T Shirt Design">
        <img src=https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-f57Js6Z/0/5c8846f7/X5/Drone%20Pilot%20Shirt-X5.png
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-mF98953/0/d86f289a/L/YoutubeLogo-L.jpg"
        data-lightbox="Portfolio" data-title="Logo Design">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-mF98953/0/d86f289a/L/YoutubeLogo-L.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-XJxr9sJ/0/fc91fa1c/X3/Lacross%202-X3.jpg"
        data-lightbox="Portfolio" data-title="PhotoShop Composites">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-XJxr9sJ/0/fc91fa1c/X3/Lacross%202-X3.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-sdKfdn6/0/43aa06b1/L/Logo-New-PNG-LRG-L.png"
        data-lightbox="Portfolio" data-title="Logo Design">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-sdKfdn6/0/43aa06b1/L/Logo-New-PNG-LRG-L.png"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-qPphrp7/0/6a9cea7f/X5/PhotoCop%20Logo-X5.png"
        data-lightbox="Portfolio" data-title="Logo Design">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-qPphrp7/0/6a9cea7f/X5/PhotoCop%20Logo-X5.png"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-RfwbGDH/0/ba7312d3/L/TSP%20Logo-L.jpg"
        data-lightbox="Portfolio" data-title="Logo Design">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-RfwbGDH/0/ba7312d3/L/TSP%20Logo-L.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-DgcbRWm/0/15c85019/XL/NitroDrone_3-XL.jpg"
        data-lightbox="Portfolio" data-title="Logo Design">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-DgcbRWm/0/15c85019/XL/NitroDrone_3-XL.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-NwtX75q/0/9c825144/X3/Snowman-X3.jpg"
        data-lightbox="Portfolio" data-title="Family Prints">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-NwtX75q/0/9c825144/X3/Snowman-X3.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-TgPqXjn/0/7a9068fa/X2/Logo%2012-X2.jpg"
        data-lightbox="Portfolio" data-title="Logo Design">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-TgPqXjn/0/7a9068fa/X4/Logo%2012-X4.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-32zTzHP/0/4e99b931/X2/TwinsMontge%20copy%20copy-X2.jpg"
        data-lightbox="Portfolio" data-title="PhotoShop Composite">
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-32zTzHP/0/4e99b931/S/TwinsMontge%20copy%20copy-X2.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-Nd2rrnC/0/81cdff82/X3/BWC%20Logo-X3.jpg"
        data-lightbox="Portfolio" data-title="PhotoShop Composite">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-Nd2rrnC/0/81cdff82/X3/BWC%20Logo-X3.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-xXh8Bsj/0/bf0c8a34/X3/18-0107-255-Edit-X3.jpg"
        data-lightbox="Portfolio" data-title="PhotoShop Composite">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-xXh8Bsj/0/bf0c8a34/X3/18-0107-255-Edit-X3.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-CTqRp23/0/38e76fcc/X2/Banner-Edit-X2.jpg"
        data-lightbox="Portfolio" data-title="PhotoShop Composite">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-CTqRp23/0/38e76fcc/X2/Banner-Edit-X2.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-2NnrNSQ/0/95cd2616/1280/abn_imgs-1280.mp4">
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-5N79c78/0/d6987f00/X2/Screenshot%202024-01-07%20at%206.47.48%E2%80%AFPM-X2.png"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-7vwfrvS/0/7a9472ad/1280/background-1280.mp4">
        <img
          src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-d76stgD/0/0c7e84d1/XL/Screenshot%202024-01-07%20at%206.47.27%E2%80%AFPM-XL.png"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-wTgZsVK/0/f3475ce2/X2/tech_default-X2.png"
        data-lightbox="Portfolio" data-title="PhotoShop Composite">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-wTgZsVK/0/f3475ce2/X2/tech_default-X2.png"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-XTZv8Bs/0/f34df92f/X3/12bytes-round-X3.jpg"
        data-lightbox="Portfolio" data-title="PhotoShop Composite">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-XTZv8Bs/0/f34df92f/X3/12bytes-round-X3.jpg"
          alt="Tom Stout Photography"></a>

      <a href="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-RXKSgB2/0/6e1f9bb4/X3/12bytes-X3.jpg"
        data-lightbox="Portfolio" data-title="PhotoShop Composite">
        <img src="https://photos.smugmug.com/Website/n-6x35Gw/Logos/i-RXKSgB2/0/6e1f9bb4/X3/12bytes-X3.jpg"
          alt="Tom Stout Photography"></a>


    </div>
  </div>
  <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
</body>