{% load static %}

<body>
    <div class="d-flex flex-wrap container">
        <h2 class="text-center">Find out what a drone can do for your event!</h2>
        <br>
        <div class="px-3 mb-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DH4shQCDtws?si=xjW87QzZgG6fBgM1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <div>
               <p class="text-center text-muted">NHRA NitroDrone by Tom Stout</p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1>Airborne Images</h1>
        <p>Check out my 4k videos on YouTube!</p>
    </div>

    <div class="d-flex flex-wrap container">
        <div class="px-3 mb-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dijYRnnwJYQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="d-flex justify-content-start">
               <h3>Mount Rainier</h3>
            </div>
        </div>
        <div class="px-3 mb-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jNBdsTKzzbE" title="Airborne Images" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="d-flex justify-content-start">
                <h3>Noblesville, IN</h3>
            </div>
        </div>
        
        <div class="px-3 mb-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ftfEinLkvnU?si=takb0VgSuK_hm7-b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="d-flex justify-content-start">
               <h3>San Francisco</h3>
            </div>
        </div>
        <div class="px-3 mb-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6PtzmP088oo?si=65MLPbJ_cR6ftIZn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="d-flex justify-content-start">
                <h3>Indianapolis Motor Speedway</h3>
            </div>
        </div>

    </div>
</body>