{% load static %}

<body>
    <div class="text-center">
        <h1>Airborne Images</h1>
        <p>Check out my 4k videos on YouTube!</p>
    </div>

    <div class="d-flex flex-wrap container">
        <div class="px-3 mb-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dijYRnnwJYQ" title="Airborne Images" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               <h3>Mount Rainier</h3>
            </div>
        </div>
        <div class="px-3 mb-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jNBdsTKzzbE" title="Airborne Images" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="d-flex justify-content-start">
                <h3>Noblesville, IN</h3>
            </div>
        </div>
    </div>
        
    <div class="w-75 mx-auto">      
        <iframe width="840" height="450" src="https://www.youtube.com/embed/ftfEinLkvnU" title="Airborne Images" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3>San Francisco</h3>
    </div>
</body>